@model Milestone.Models.Board
<style>
	.game-cell {
		position: relative;
		text-align: center;
	}
	.liveNeighbors {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);

	}
</style>
<div class="row">
	<div class="col">
	<table>
		@for (var i = 0; i < Model.Size; i++)
		{
			<tr>
				@for (var j = 0; j < Model.Size; j++)
				{
					<td>
						<form>
							<input name="col" value="@Model.Grid[i,j].Row" hidden>
							<input name="row" value="@Model.Grid[i,j].Col" hidden>
							<div class="oneCell" id=@i@j>
								<button class="game-cell" type="submit" asp-controller="Game" asp-action="leftClick" data-col="@Model.Grid[i,j].Row" data-row="@Model.Grid[i,j].Col">
									@if (Model.Grid[i, j].IsVisited == true)
									{
										<img src="/img/visitedSquare.png" width="70px" height="70px">
											@if(Model.Grid[i,j].LiveNeighbors > 0)
											{
													<h2 class="liveNeighbors text-white">@Model.Grid[i,j].LiveNeighbors</h2>
											}
											
									}
									else if (Model.Grid[i, j].IsFlagged == true)
									{
										<img src="/img/flag.jpg" width="70px" height="70px">
									}
									else
									{
										<img src="/img/square.jpeg" width="70px" height="70px">
									}

								</button>
							</div>
						</form>

					</td>
				}
			</tr>
		}
	</table>
	</div>
	<div class="col">
		<form>
			<button type="submit" class="btn btn-primary" id="save-button" asp-controller="Game" asp-action="saveGame">Save Game</button>
		</form>
		<div class="col" id="save-message">
			<p></p>
		</div>
	</div>
	<div class="col viewGamesButton">
		<form>
			<button type="submit" class="btn btn-primary" asp-controller="Game" asp-action="viewGames">View Games</button>
		</form>
	</div>
</div>