@model Milestone.Models.Board
<script
  src="https://code.jquery.com/jquery-3.5.1.js"
  integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
  crossorigin="anonymous"></script>

<script src="/js/Game.js"></script>
<style>
	button {
		border: none;
	}
</style>
<p>Current Time: @DateTime.Now</p>
<div id="board" class="row">
    <div class="col">
        <table>
            @for (var i = 0; i < Model.Size; i++)
		{
            <tr>
                @for (var j = 0; j < Model.Size; j++)
				{
                <td>
                    <form>
                        <input name="col" value="@Model.Grid[i,j].Row" hidden>
                        <input name="row" value="@Model.Grid[i,j].Col" hidden>
                        <div class="oneCell" id=@i@j>
                            <button class="game-cell" type="submit" data-col="@Model.Grid[i,j].Row" data-row="@Model.Grid[i,j].Col">
                                @if (Model.Grid[i, j].IsVisited == true)
									{
                                <img src="/img/visitedSquare.png" width="70px" height="70px">
									}
									else
									{
                                <img src="/img/square.jpeg" width="70px" height="70px">
									}

                            </button>
                        </div>
                    </form>

                </td>
				}
            </tr>
			}
        </table>
    </div>
    <div class="col">
        <form>
            <button type="submit" class="btn btn-primary save-btn" id="save-button">Save Game</button>
        </form>
        <div class="col" id="save-message">
            <p></p>
        </div>
    </div>
    <div class="col viewGamesButton">
        <form>
            <button type="submit" class="btn btn-primary view-btn" id="view-button">View Games</button>
        </form>
    </div>
</div>