@model IEnumerable<Activity_2_RegisterAndLoginApp.Models.GameModel>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.date)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.date)
            </td>
                <td>
                    <form>
                        <input name="id" value="@item.id" hidden/>
                        <button type="submit" class="btn btn-primary load-btn" data-id="@item.id" id="load-button">Load Game</button>
                    </form>
                    <form>
                        <input name="id" value="@item.id" hidden />
                        <button type="button" class="btn btn-primary delete-btn" data-id="@item.id">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
